@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*Variables*/
$pizza-red: #A80E0E;
$mustard: #FFAA00;
$lg-mustard: #F9B826;
$black: #281923;
$lg-black: #343232;
$enf-gray: #707070;

/*Componentes*/
/*ADMIN*/

/*body*/
body {
    font-family: 'Montserrat', sans-serif;
}


/*Barra lateral*/

.sidebar-sticky{
    display: block;
   background-color: $mustard;
   
   position: sticky;
   top: 0;
   height: calc(100vh -40px);
   overflow-x: hidden;
   overflow-y: auto;
   width: 188.5px;
   height: 617px;
    .nav-item{
        padding: 3%;
        &:hover{
            cursor: pointer;
            background-color: $lg-mustard;
        }

        .nav-link{
            color: #fff;
            font-weight: 400;
            font-size: 14px;

        }
        
    }
}
/*MAIN*/


/*Promociones*/
/*1. Principal*/
.Word{
    font-size: 16px !important;
      font-weight: 600 !important;
      font-style: $black !important;
      padding-right: 15.3rem;
}

.search-bar{
    
    justify-content: right !important;
    background-position: right !important;
    background-color: grayscale($color: #eceaea);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 1.8rem;
    .size
    {
      width: 400px !important;   
      font-size: 14px !important;
      font-weight: 400 !important;
    }


}


.row{
    width: 100%;
}
.card{
    margin-left: 0;
    padding-left: 0;
    border: none;
    background-color: white;
    width: 50%;
    .card-header{
border: none;
background-color: white;
    }
    b{
        margin: 0;
        font-size: 16px !important;
        font-weight: 600;
        color: $black;
    }
}

.col-md-3{
    background-color: white;
    text-align: center;
    margin-left: 2rem;
}

.cards-1{

text-align: center;

background-color: white;
margin-bottom: 1rem;
margin-top: 0 ;
padding-top: 0;
margin-right: 0;
padding-right: 0;
      
}
.cards-2{
    margin-bottom: 1rem;
    margin-top: 0 ;
    padding-top: 0;
    text-align: right;
}
img{
    width: 70%;
}





@media (min-width: 768px) {
    .sidebar-sticky {
        position: sticky;
        top: 0;
        z-index: 999;
    }}