$pizza-red: #a80e0e;
$mustard: #ffaa00;
$lg-mustard: #f9b826;
$black: #281923;
$lg-black: #343232;
$enf-gray: #707070;

.form-search {
    // border: 1px solid blue;
    padding-top: 50px;
    padding-bottom: 30px;

    .search {
        display: flex;
        margin-right: 0;
        height: 35px;
        border: 1px solid #dfdfdf;

        input {
            width: 450px;
            height: 29px;
            border: none;
            padding-left: 10px;

            &:hover {
                border: none;
                height: 29px;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            width: 40px;
            height: 29px;
            background: white;
            border: none;

            &:hover {
                border: none;
                height: 29px;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.route-path {
    background: #f3f3f3;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    padding-top: 10px;

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: $lg-mustard;
        }

        &:active {
            color: $black;
        }
    }
}

.car {
    display: flex;
    margin-top: 25px;
    margin-bottom: 55px;
}

.car-list {
    border: 1px solid #e3e3e3;
    padding-bottom: 10px;

    #{&}__product { 
        li {
            margin-top: 30px;
            list-style: none;
            display: flex;
            border-bottom: 1px solid #e3e3e3;
            margin-bottom: 10px;
            padding-bottom: 25px;
            margin-right: 15px;

            .car-list_product__detail-product {
                border: 1px solid blue;
                &__cst-amount {
                    display: flex;
                    border: 1px solid black;
                }
            }

            .car-list_product__img-product {
                border: 1px solid red;
            }
        }
    }
}
