@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/*Variables*/
$pizza-red: #A80E0E;
$mustard: #FFAA00;
$lg-mustard: #F9B826;
$black: #281923;
$lg-black: #343232;
$enf-gray: #707070;
$gray:grayscale($color: #eceaea);
/*Componentes*/
/*ADMIN*/

/*body*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: $gray;
}
.search-bar{
    
    justify-content: left !important;
    background-position: left !important;
    background-color: white !important;
 
    width: 50%;
    
    .size
    {
      width: 300px !important;   
      font-size: 14px !important;
      font-weight: 400 !important;
    }

    

}

.breadcrumb{
    font-size: 15px !important;
    font-weight: 400 !important;
    text-transform: none !important;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    background-color: white;
   .breadcrumb-item{
       a{
           color: $black;
       }
    color: $black !important;
   }
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 2rem;
    padding-left: 2rem;
    color: $black;
    content: ">";
}

.busqueda{
    width: 40% !important;
}
h1{
    margin-left: 3rem;
}

.row{
    margin-left: 3rem;
}
section{
    padding: 25px 4.5%;
    .form-group{
        font-weight: 400;
        color: $black;
        text-align: justify !important;
    }
    .form-control{
        width: 50%;
        color: $black !important;
        font-weight: 400 !important;
        &::placeholder{
            color: $black !important;
            font-weight: 400;
        }

    }

    .spacing{
        padding-top: 1rem;
        .custom-select{
            color: $black;
            width: 50%;

        }
    }

    .input-group{
        width: 50%;
    }

    .custom-file-label{
        font-weight: 400;
        color: $black !important;
    }

.agregar{
    margin-left: 10%;

    .btn{
        justify-self: center;
        width: 30%;
        background-color: $black !important;
        color: white;
        font-weight: 600 !important;
    }
}
    
}
