@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/*Variables*/
$pizza-red: #A80E0E;
$mustard: #FFAA00;
$lg-mustard: #F9B826;
$black: #281923;
$lg-black: #343232;
$enf-gray: #707070;

/*Componentes*/

/*GENERAL*/
body {
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
#layout-header {
    &.bg-dark {
        background: url("../img/navbar-bg.png") !important;
    }

    .navbar-brand img {
        width: 200px;
    }

    .nav-item {

        .nav-link {
            color: #fff;
            font-weight: 400;
            font-size: 14px;

            &:hover {
                color: $lg-mustard;
            }
        }

        .nav-icon {
            font-size: 18px;
            margin-right: 1em;
            &:hover {
                color: $pizza-red;
            }
        }

    }
}

main {
    min-height: 600px;
}

/*Footer*/
#layout-footer {
    margin: 0;
    width: 100%;

    .row {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #info-caract {
        background: url('../img/barra-footerrc.png');
        background-position: 0px -40px;
        background-repeat: no-repeat;
        padding: 50px 7%;

        .footer-card {
            margin-bottom: 1em;
            padding: 10px 20px;
            text-align: center;
            background-color: #fff;
            min-height: 275px;

            img {
                margin: 10px 0;
                width: 75px;
            }

            h4 {
                font-size: 20px;
                font-weight: 400;
            }

            hr {
                width: 10%;
                border: 3px solid $mustard;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: $lg-black;
            }
        }
    }

    #info-contacto {
        background-color: $pizza-red;

        .col-md-6 {
            padding: 0;
            margin: 0;
        }

        .footer-card {
            margin: 50px 0;
            margin-left: 15%;
            padding: 20px;
            color: #fff;

            b {
                border: none;
                background-color: $mustard;
                color: #fff;
                font-size: 18px;
                padding: 5px 25px;
                border-radius: 70px;
            }

            .icon {
                font-size: 50px;
                margin: 0;
            }

            h4 {
                font-size: 38px;
                margin: 15px 0;
                font-weight: 600;
            }

            .contact-info {
                display: flex;
                align-items: center;
                margin: 25px 0;

                .info {
                    p {
                        margin: 0;
                        margin-left: 15px;
                    }
                }
            }

            .social-icon {
                display: inline-block;
                width: 35px;
                height: 35px;
                line-height: 35px;
                margin-right: 1em;
                text-align: center;
                border-radius: 5px;
                background-color: #fff;
                font-size: 24px;

                a {
                    color: $pizza-red;
                }
            }
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    #info-footer {
        padding: 25px 10%;

        .footer-card {
            margin: 50px 0;
            padding: 0 2em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }

            h5 {
                color: $pizza-red;
                font-weight: 400;
            }

            hr {
                margin-left: 0;
                margin-right: auto;
                width: 10%;
                border: 3px solid $mustard;
            }

            p {
                margin: 1.5em 0;
            }

            ul {
                margin-top: 1em;
                list-style: none;
                margin-left: 5px;
                padding: 0;
                line-height: 40px;

                a {
                    color: $enf-gray;
                    text-decoration: none;

                    &:hover {
                        color: $pizza-red;
                    }
                }
            }
        }

        #logo {
            width: 300px;
        }

        #cards {
            width: 250px;
        }

    }
    #footer-copy{
        padding: 0 10%;
        text-align: center;
    }
}


/*MEDIA QUERIES*/

/*SOLO USAR LOS BREAKPOINTS DE BOOTSTRAP*/
/*Son reglas ascendentes (aplican a partir de este punto)*/
/*Hacer reglas descendentes si es necesario*/

// Extra small devices (phones, PDA's , less than 576px)
@media (max-width: 576px) {
    #layout-header.bg-dark {
        background-size: 576px 80px !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #layout-header{
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .md-only{
        display: none;
    }
}

@media (max-width: 768px) {
    #info-caract{
        background-size: cover !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #layout-header.bg-dark {
        background-size: 1600px 80px !important;
    }
}

/*FULL HD devices*/
@media(min-width: 1400px){
    #layout-header.bg-dark {
        background-size: auto !important;
    }
    #info-caract{
        background-size: cover !important;
    }
}