@font-face{
    font-family: 'AvengeanceAvenger';
    src: url('../font/avenger.otf') format('opentype'),
        url('../font/avenger.ttf') format('truetype');
    font-style: normal;
}

/*Pallete*/
$pizza-red: #A80E0E;
$mustard: #FFAA00;
$lg-mustard: #F9B826;
$black: #281923;
$lg-black: #343232;
$enf-gray: #707070;

$opac-blak: rgba(0 ,0 ,0 ,0.55 );

$animation1ms: all .1s;

.text-red{
    color: $pizza-red !important;
}

body{
    overflow-x: hidden;
}

/**/
#layout-header{
    position: fixed;
    width: 100%;
    &.bg-dark{
    background: none !important;
    background-color: $opac-blak !important;
    }
    .navbar-brand{
        width: 20%;
    }
}



main{

    .section-title{
        width: 100%;
        text-align: center;
        h1, h2{
            font-size: 38px;
            font-family: 'AvengeanceAvenger', sans-serif;
            letter-spacing: 2px;
            color: $pizza-red;
        }
        h1{
            font-size: 46px;
        }
        .img-hr{
            margin: 1em auto;
        }
        h5{
            font-size: 20px;
            color: $black;
            margin-bottom: 1em;
        }
    }
    
    #banner{
        display: block;
        width: 100%;
        overflow: hidden;
        #promo-link{
            margin-bottom: 2em;
            img{
                width: 100%;
            }
        }
        margin-bottom: 3em;
    }
    #menu-query{
        padding: 1em 2em;   
        .row{
            margin: 2em 0;
            padding: 0 5%;
        }
        .pizza{
            text-align: center;
            img{
                width: 70%;
                margin: 0 auto;
                margin-bottom: 15px;
            }
            a{
                text-decoration: none;
            }
            h3{
                color: $black;
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: $animation1ms;
                cursor: pointer;
                &:hover{
                    color: $lg-mustard;
                }
            }
        }
    }
    #delivery-fast{
        margin: 3em 0;
        img{
            width: 100%;
        }
    }
    #featured-products{
        margin: 2em 0;
        .card{
            border-radius: 5px;
            box-shadow: 1px 2px 2px #555;
            .card-rating{
                margin-bottom: 1em;
                .fa-star{
                    color: $lg-mustard;
                    margin-right: 0.5em;
                }
            }
            .card-title{
                font-weight: 500;
            }
            .card-text{
                font-weight: 300;
                color: $enf-gray;
            }
            .card-end{
                display: flex;
                align-items: center;
                .btn{
                    border: none;
                    background-color: $mustard;
                    margin-right: 1em;
                    padding: .5em 1.5em;
                    border-radius: 75px;
                    &:hover{
                        box-shadow: 0px 0px 5px $opac-blak;
                    }
                    .fa-shopping-cart{
                        margin-right: 1em;
                    }
                }
                .card-price{
                    margin: 0;
                    font-family: 'AvengeanceAvenger';
                    font-size: 18px;
                    color: $pizza-red;
                }
            }
        }
    }
    #timer{
        width: 100%;
        background: url('../img/barra-timer.png');
        background-size: cover;
        margin-bottom: 3em;
        color: #fff;
        &-body{
            padding: 15% 5%;
            h3{
                font-family: 'AvengeanceAvenger';
                font-size: 48px;
            }
            p{
                font-size: 20px;
            }
            &-cont{
                width: 100%;
            }
            .timer-sect{
                text-align: center;
                display: inline-block;
                font-family: 'AvengeanceAvenger';
                padding-right: 1em;
                .timer-number{
                    display: block;
                    margin: .5em auto;
                    font-size: 36px;
                    width: 70px;
                    height: 70px;
                    line-height: 70px;
                    background-color: $mustard;
                }
            }
            
        }
    }
}