.breadcrumb {
  margin-top: 30px;
  background: #f3f3f3;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.breadcrumb a {
  text-decoration: none;
  color: black;
}
.breadcrumb a:hover {
  color: #f9b826;
}
.breadcrumb a:active {
  color: #281923;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.content {
  margin-top: 25px;
  margin-bottom: 30px;
}

.btn-dark {
  font-weight: 600;
  font-size: 15px;
}

/**** THE COLLAPSE SASS ****/
.card .card-header {
  background: white;
}
.card .card-header .mb-0 button {
  text-decoration: none;
  outline: none;
}
.card .card-header .mb-0 button span {
  padding-left: 10px;
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.card .card-header .mb-0 button:hover, .card .card-header .mb-0 button:focus, .card .card-header .mb-0 button:active {
  outline: none;
  box-shadow: none;
}

#collapseOne .old-dir {
  background: #f1f1f1;
}
#collapseOne .old-dir__description {
  padding: 20px 25px;
}
#collapseOne .old-dir__description .dir {
  padding-bottom: 25px;
}
#collapseOne .old-dir__description label {
  margin: 0 0 10px 0;
}
#collapseOne .old-dir__description label span {
  font-weight: 600;
}
#collapseOne .old-dir__edit {
  display: flex;
  margin-top: 20px;
}
#collapseOne .old-dir__edit a {
  margin-left: 10px;
  margin-bottom: 10px;
  color: #281923;
}
#collapseOne .old-dir__edit a:hover {
  outline: none;
  text-decoration: none;
  color: #a80e0e;
}
#collapseOne .new-dir {
  margin-top: 20px;
}
#collapseOne .new-dir .top {
  margin-top: 15px;
}
#collapseOne .button-end {
  margin-top: 20px;
  text-align: right;
}

#collapseTwo .group-buttons {
  padding-bottom: 30px;
  margin: 20px;
  border-bottom: 1px solid #dfdfdf;
}
#collapseTwo .group-buttons .form-check:nth-child(2) {
  margin-left: 40px;
}
#collapseTwo .button-end {
  text-align: right;
}

#collapseThree .img {
  margin-left: 0;
  margin-bottom: 15px;
  margin-top: 20px;
}
#collapseThree form .tarjetNumber {
  width: 420px;
  margin-left: 5px;
  margin-bottom: 15px;
}
#collapseThree form #span-with-margin {
  margin-bottom: 15px;
}
#collapseThree form .collections {
  width: 100%;
}
#collapseThree form .collections .custom-select, #collapseThree form .collections .form-control {
  margin-bottom: 15px;
  max-width: 30%;
}
#collapseThree form .collections .custom-margin-left {
  margin-left: 5px;
}
#collapseThree #check-with-margin {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 20px;
  padding-bottom: 20px;
}
#collapseThree .button-end {
  text-align: right;
}

.car-list {
  padding-bottom: 10px;
}
.car-list .car-list__product li {
  margin-top: 30px;
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 25px;
  margin-right: 15px;
}
.car-list .car-list__product li .car-list_product__img-product {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.car-list .car-list__product li .car-list_product__img-product img {
  border: 1px solid #e3e3e3;
  margin: 0;
  padding: 0;
}
.car-list .car-list__product li .car-list_product__detail-product h2 {
  margin-bottom: 15px;
  font-weight: 550;
  font-size: 19px;
}
.car-list .car-list__product li .car-list_product__detail-product .car-list_product__detail-product__cst-amount {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
.car-list .car-list__product li .car-list_product__detail-product .car-list_product__detail-product__cst-amount h4 {
  margin-top: auto;
  margin-bottom: auto;
}
.car-list .car-list__product li .car-list_product__detail-product .car-list_product__detail-product__cst-amount div {
  display: flex;
}
.car-list .car-list__product li .car-list_product__detail-product .car-list_product__detail-product__cst-amount div .amount-product {
  margin-left: 45px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}
.car-list .car-list__product li .car-list_product__detail-product .car-list_product__detail-product__cst-amount div input {
  border: 1px solid #e3e3e3;
  width: 80px;
  height: 33px;
  padding-left: 5px;
}
.car-list .car-list__product li .car-list_product__detail-product .car-list_product__detail-product__cst-amount div input:hover {
  border: none;
}
.car-list .car-list__product li .car-list_product__detail-product .car-list_product__detail-product__cst-amount div input:focus {
  border: none;
}
.car-list .car-list__product li .car-list_product__detail-product .shopping-time {
  font-size: 14px;
  font-weight: 600;
  color: #529e34;
}
.car-list .car-list__product li .car-list_product__delete-product {
  width: auto;
  text-align: right;
}
.car-list .car-list__product li .btn {
  color: black;
}
.car-list .car-list__product li .btn:hover {
  text-decoration: none;
  outline: none;
  color: #a80e0e;
}
.car-list .car-list__product li .btn:focus {
  text-decoration: none;
  outline: none;
}
.car-list .buy-or-continue {
  width: auto;
  text-align: right;
  align-items: center;
}
.car-list .buy-or-continue a {
  padding-top: 10px;
  margin-left: 8px;
}
.car-list .buy-or-continue a:hover {
  outline: none;
  text-decoration: none;
}
.car-list .buy-or-continue .buy {
  width: 120px;
  height: 45px;
}

.sub-total {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sub-total #span-padding {
  margin-top: 15px;
  margin-bottom: 15px;
}
.sub-total .cost-detail {
  margin: 0;
  padding: 0;
  padding-left: 25px;
}
.sub-total .cost-detail .cost-to-pay, .sub-total .cost-detail .cost-to-sheppin {
  display: flex;
  margin-top: 15px;
}
.sub-total .cost-detail .cost-to-pay .right, .sub-total .cost-detail .cost-to-sheppin .right {
  font-weight: 600;
  margin-left: auto;
  text-align: right;
  margin-bottom: 15px;
}
.total {
  border-bottom: 1px solid #dfdfdf;
  padding-top: 20px;
  padding-bottom: 20px;
}
.total .content-of-total {
  display: flex;
}
.total .content-of-total .right {
  text-align: right;
  font-weight: 600;
  margin-left: auto;
}

.pay {
  text-align: right;
  padding-top: 20px;
}

.detail-list {
  width: auto;
}
@media only screen and (max-width: 999px) {
  .detail-list {
    margin-top: 25px;
  }
}
.detail-list .detail-list__title-detail {
  width: auto;
  border: 1px solid #506bfa;
  color: white;
  background: #506bfa;
  padding: 20px 0 20px 20px;
}
.detail-list .detail-list__title-detail h3 {
  font-weight: 500;
}
.detail-list .detail-list__product-cost, .detail-list .detail-list__total-cost, .detail-list .detail-list__shipping-cost {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #e3e3e3;
  padding: 20px 20px 20px 20px;
  display: flex;
  width: auto;
}
.detail-list .detail-list__product-cost .black-span, .detail-list .detail-list__total-cost .black-span, .detail-list .detail-list__shipping-cost .black-span {
  font-weight: 600;
}
.detail-list .detail-list__product-cost .left, .detail-list .detail-list__total-cost .left, .detail-list .detail-list__shipping-cost .left {
  width: 100%;
}
.detail-list .detail-list__product-cost .right, .detail-list .detail-list__total-cost .right, .detail-list .detail-list__shipping-cost .right {
  width: 100%;
  text-align: right;
}

/*# sourceMappingURL=pago.css.map */
