<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Dependencias generales vendor-->
    <link rel="stylesheet" href="../../../vendor/css/bootstrap.min.css">
    <script src="../../../vendor/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../../../vendor/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../../vendor/css/fontawesome-all.min.css">
    <script src="../../../vendor/js/fontawesome-all.min.js"></script>

    <!--Dependencias generales-->
    <link rel="stylesheet" href="../../../css/general.css">
    <link rel="stylesheet" href="../../../css/user-admin.css">

    <!--Dependencias locales-->



    <title>Pizza y Corre | Administración de usuario</title>
</head>

<body>

    <header id="layout-header" class="navbar navbar-expand-md navbar-dark bg-dark">

        <a href="#" class="navbar-brand"><img src="../../../img/main-logo.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <section class="gnav-section navbar-nav"></section>
            <section class="gnav-section navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="../landing-logged.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="../menu/menu-logged.html">Menú</a></li>
                    <li class="nav-item"><a class="nav-link" href="../other/contact-logged.html">Contactenos</a></li>
                </ul>
            </section>
            <section class="gnav-section navbar-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-alt nav-icon"></i>Pepito Perez
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="user-data.html">Configuración de usuario</a>
                            <a class="dropdown-item" href="../landing.html">Cerrar Sesión</a>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-shopping-bag nav-icon"></i><span
                                class="md-only">Carrito de compras</span></a></li>
                </ul>
            </section>
        </div>
    </header>

    <!--Principal-->
    <main>
        <div class="row">
            <section class="col-lg-4">
                <article id="user-menu">
                    <ul>
                        <li><a href="#"><i class="fas fa-receipt"></i> Mis órdenes</a></li>
                        <li class="active"><a href="#"><i class="fas fa-user"></i> Información Personal</a></li>
                        <li><a href="#"><i class="fas fa-map-marked-alt"></i> Gestionar Direcciones</a></li>
                    </ul>
                </article>
            </section>
            <section class="col-lg-8 mt-4">
                <div id="user-main">
                    <section class="col-12">
                        <h1 class="text-center">Editar datos de usuario</h1>
                        <form action="#" method="POST" class="needs-validation" onsubmit="return validateForm()"
                            enctype="multipart/form-data">
                            <div class="row mb-5">
                                <div class="col-md-8 col-12" style="padding: 0 3em; margin-top: 2em;">
                                    <h6>Datos del Usuario</h6>
                                    <hr>
                                    <div id="form-user">
                                        <div class="form-group">
                                            <input type="text" name="nombre" id="nombre" placeholder="Nombres"
                                                class="form-control">
                                            <div class="invalid-feedback">Nombre Obligatorio</div>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="apellido" id="apellido" placeholder="Apellidos"
                                                class="form-control">
                                            <div class="invalid-feedback">Apellidos Obligatorio</div>
                                        </div>
                                        <div class="form-group">
                                            <select name="gend" id="gend" class="form-control">
                                                <option value="0" disabled selected>Sexo</option>
                                                <option value="Male">Masculino</option>
                                                <option value="Female">Femenino</option>
                                                <option value="LGTB">Prefiero no decirlo</option>
                                            </select>
                                            <div class="invalid-feedback">Requerido</div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="correo" id="correo"
                                                placeholder="Correo electrónico" class="form-control">
                                            <div class="invalid-feedback">Correo inválido (debe ser de formato
                                                pepito@mail.com)</div>
                                        </div>
                                        <div class="form-group">
                                            <input type="tel" name="tel" id="tel" placeholder="Telefono"
                                                class="form-control not-req">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12" style="margin-top: 2em;">
                                    <h6>Foto (Opcional)</h6>
                                    <div class="form-group">
                                        <input type="file" name="photo" id="photo-form" class="form-control-file">
                                        <div id="avatar-container">
                                            <img src="../../../img/avatar.jpg" alt="" id="avatar" class="img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-danger">Editar</button>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </div>

    </main>

    <!--Footer-->
    <footer id="layout-footer">
        <section class="row" id="info-caract">
            <article class="col-md-6 col-lg-3">
                <div class="footer-card">
                    <img src="../../img/delivery.svg" alt="">
                    <h4>Envío Gratis en tu Primera Orden</h4>
                    <hr>
                    <p>Regístrese para obtener actualizaciones y tu primer envío es gratis.</p>
                </div>
            </article>
            <article class="col-md-6 col-lg-3">
                <div class="footer-card">
                    <img src="../../img/tiempo.svg" alt="">
                    <h4>Envío en 30 minutos</h4>
                    <hr>
                    <p>Todo lo que pidas será entregado rápidamente hasta tu puerta.</p>
                </div>
            </article>
            <article class="col-md-6 col-lg-3">
                <div class="footer-card">
                    <img src="../../img/pizza.svg" alt="">
                    <h4>Garantizamos la calidad</h4>
                    <hr>
                    <p>Utilizamos los mejores ingredientes para cocinar la mejor comida para usted.</p>
                </div>
            </article>
            <article class="col-md-6 col-lg-3">
                <div class="footer-card">
                    <img src="../../img/variedad.svg" alt="">
                    <h4>Variedad de platillos</h4>
                    <hr>
                    <p>En nuestro menú encontrará una gran variedad de platos y bebidas.</p>
                </div>
            </article>
        </section>
        <section class="row" id="info-contacto">
            <article class="col-md-6">
                <div class="footer-card">
                    <b>Llámanos</b>
                    <h4>2231-0634</h4>
                    <div class="contact-info">
                        <p class="icon"><i class="far fa-clock"></i></p>
                        <div class="info">
                            <p>Lun - Vie: 11:00-23:00</p>
                            <p>Sab: 12:00-23:00 | Dom: 12:00-21:00</p>
                        </div>
                    </div>
                    <div class="contact-info">
                        <p class="icon"><i class="fas fa-map-marker-alt"></i></p>
                        <div class="info">
                            <p>Pizza y Corre</p>
                            <p>Managua, Nicaragua</p>
                        </div>
                    </div>
                    <div class="social">
                        <div class="social-icon"><a href="https://es-la.facebook.com/PizzaYCorreNic/"><i
                                    class="fab fa-facebook"></i></a>
                        </div>
                        <div class="social-icon"><a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                        <div class="social-icon"><a href="https://www.instagram.com/pizzaycorrenicaragua/">
                                <i class="fab fa-instagram"></i>
                            </a></div>
                    </div>
                </div>
            </article>
            <article class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.6784528713574!2d-86.21470045009632!3d12.065630791412852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73ffd5bbe86377%3A0x4ca0e1875f3b2061!2sPIZZA%20Y%20CORRE%20PICK%20UP%20DELIVERY!5e0!3m2!1ses-419!2sni!4v1591577794965!5m2!1ses-419!2sni"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </article>
        </section>
        <section class="row" id="info-footer">
            <article class="col-md-4 footer-card">
                <img id="logo" src="../../img/main-logo.svg" alt="">
                <p>Somos un emprendimiento 100% nicaragüense enfocado en brindar la mejor pizza artesanal a nuestros
                    clientes hasta la puerta de su casa con toda comodidad.</p>
                <img id="cards" src="../../img/cards.png" alt="">
            </article>
            <article class="col-md-4 footer-card">
                <h5>Enlaces útiles</h5>
                <hr>
                <ul>
                    <li><a href="../other/about.html">Sobre nosotros</a></li>
                    <li><a href="../menu/menu.html">Menú</a></li>
                    <li><a href="../other/contact.html">Contactanos</a></li>
                </ul>
            </article>
            <article class="col-md-4 footer-card">
                <h5>Publicaciones de Instagram</h5>
                <hr>
            </article>
        </section>
        <section class="row justify-content-center" id="footer-copy">
            <p>&copy; Pizza y Corre 2020, Todos los derechos reservados. Desarrollado por BreveTech S.A.</p>
        </section>
    </footer>

    <!--Scripts-->
    <script src="../../../js/main.js"></script>
    <script src="../../../js/signup-avatar.js"></script>
    <script>
        /**
         * Valida el envío del formulario
         */
        function validateForm() {
            let fl = true;
            console.log("ONVALIDATE");
            document.querySelectorAll("#form-user input").forEach(elem => {
                if (!elem.classList.contains("not-req")) {
                    if (elem.value == "" || !elem.checkValidity()) {
                        fl = false;
                        elem.classList.add("is-invalid");
                    } else {
                        elem.classList.remove("is-invalid");
                    }
                }
            });

            document.querySelectorAll("#form-user select").forEach(elem => {
                console.log(elem.id);
                if (!elem.classList.contains("not-req")) {
                    if (elem.value == "0" || !elem.checkValidity()) {
                        fl = false;
                        elem.classList.add("is-invalid");
                    } else {
                        elem.classList.remove("is-invalid");
                    }
                }
            });

            return fl;
        }
    </script>
</body>

</html>